<h1>Listing characters</h1>

<%= paginate @chars %>

<table id="characters">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Body</th>
    </tr>
  </thead>

  <tbody class="characters">
    <%= render partial: 'char', collection: @chars, as: :char %>
  </tbody>
</table>

<br>


